<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container">
        <span class="nav-brand">ChatApp</span>
        <div class="page-links">
            <ul class="navbar-nav" *ngIf="!auth.currentUser else loggedOut">
                <li class="nav-item">
                    <a routerlink="/chat" routerLinkActive="active" class="nav-link">Chat Room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="auth.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

<ng-template #loggedOut>
    <ul class="navbar-nav" *ngIf="true else loggedOut">
        <li class="nav-item">
            <a routerlink="/login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a routerlink="/Signup"  class="nav-link">Signup</a>
        </li>
    </ul>
</ng-template>