<app-chat></app-chat>

<div class="container d-flex justify-content-center align-items-center">
    <div class="from-wrapper text-center">
        <h2 class="text-center">Signup</h2>
        <form [formGroup]="signupForm" (submit)="submit()" novalidate>
            <div class="name-wrapper d-flex">
                <div class="form-group first-name">
                    <input type="text" class= "form-control" id="first-name-input" placeholder="Enter First Name" formControlName="firstName">
                </div>
                <div class="form-group last-name">
                    <input type="text" class= "form-control" id="last-name-input" placeholder="Enter Last Name" formControlName="lastName">
                </div>
            </div>
           
            <div class="form-group">
                <input type="email" class= "form-control" id="email-input" placeholder="Enter emial" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class= "form-control" id="password-input" placeholder="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Submit</button>

        </form>
        <small><a routerLink="/login">Have an Account?</a></small>
    </div>
</div>
