/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    color: $secondary;
}

.container{
    height: calc(100vh - 80px) !important;
}

.navbar {
    height: 80px;
}

button{
    width: 100%
}